<launch>
	<node pkg="web_video_server" type="web_video_server" name="set_parameters" output="screen">
		<param name="port" value="1234" type="int" />
		<param name="quality" value="240" type="int" />
		<param name="width" value="320" type="int" />
		<param name="height" value="240" type="int" />
		<param name="bitrate" value="10000" type="int" />
		</node>
</launch>