.code-select{
width:inherit;
/*vertical-align:-290%;*/
vertical-align:-390%;
}

#codeBox div.panel div.panel-body div div.tab-content div.tab-pane{
    min-height: 215px;
}

#obj{
    min-height: 215px;
}

.tooltip-inner {
white-space:pre-wrap;
}

.video-container {
    position: relative;
    padding-bottom: 75%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

span.glyphicon.glyphicon-wrench{
    font-size: 16px;
}

span.glyphicon.glyphicon-resize-full{
    font-size: 16px;
}

#deckard-visual {
    margin-top: -78px;
    transform-origin: left;
    transform: scale(0.85, 0.85);
    zoom: 1;
    width: 120%;
    height: 130%;
}

/*#pris-visual {
    padding-top: 35px;
    transform-origin: left;
    transform: scale(1.73, 1.73);
}

#roy-visual {
    padding-top: 35px;
    transform-origin: left;
    transform: scale(1.73, 1.73);
}

#zhora-visual {
    padding-top: 35px;
    transform-origin: left;
    transform: scale(1.73, 1.73);
}*/

#camera1-visual {
    padding-top: 35px;
    transform-origin: left;
    transform:scale(1.73, 1.73);
}

#camera2-visual {
    padding-top: 35px;
    transform-origin: left;
    transform:scale(1.73, 1.73);
}

#camera3-visual {
    padding-top: 35px;
    transform-origin: left;
    transform: scale(1.73, 1.73);
}

div#gzwebModal.modal-dialog.modal-lg {
    width: 100%;
    height: 100%;
    padding: 0;
}

#probMap {
    position: absolute;
    margin-top: -35px;
    overflow: hidden;
}

div#robots.col-md-6 {
    text-align: center;
}

div#humanSensoryInputQuestions.bloc {
    display: inline-block; 
    vertical-align: top; 
    overflow: hidden; 
    border: 0px;
}

div#humanSensoryInputQuestions.bloc select {
    padding:15px; 
    margin:-5px -20px -5px -5px;
}

div#robo_updates div.panel.panel-default {
    margin-top: 6px;
}

div.questionContainer {
    height: 34px;
    background-color: white;
    box-shadow: none;
    margin-bottom: 1px;
}

div.questionProgress.progress-bar {
    height: 34px;
    opacity: 0.7;
    width: 100%;
    background-color: rgb(164, 236, 253);
}

#robotQuestions div div.btn-group {
    position: absolute;
    font-size: 14px;
    right: 0px;
}

#robotQuestions div div button.btn {
    position: relative;
    display: inline;
}

.questionText {
    position: absolute;
    padding-top: 7px;
    font-size: 14px;
    text-align: center;
    color: black;
}

div#codeHistoryBody.tab-pane {
    height: 183px;
    overflow-y: scroll;
}

#robo_updates div div .nav {
    padding-top: 0px;
    margin-bottom: 8px;
}

div select#obj.form-control.code-select{
    height: 177px;
}